<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.yijia.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/yijialogo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".MyBuildActivity">
        </activity>
        <activity android:name=".BuildStageActivity">
        </activity>
        <activity android:name=".LoginActivity">
        </activity>
        <activity android:name=".RegisterActivity">
        </activity>
        <activity android:name=".SettingActivity">
        </activity>
        <activity android:name=".AboutUsActivity">
        </activity>
        <activity android:name=".MyStoreActivity">
        </activity>
        <activity android:name=".ForgetPasswordActivity">
        </activity>
        <activity android:name=".MyquestionActivity">
        </activity>
        <activity android:name=".MyPostActivity">
        </activity>
        <activity android:name=".PersonalInformationActivity">
        </activity>
        <activity android:name=".MyRaisequesDetailActivity">
        </activity>
        <activity android:name=".MyReplyquesDetailActivity">
        </activity>
        <activity android:name=".MyRaisepostDetailActivity">
        </activity>
        <activity android:name=".MyReplypostDetailActivity">
        </activity>
    </application>

</manifest>